:root {
  --color-dark-grey: #22292f;
  --color-light-grey: #3d4852;
  --color-lighter-grey: #8795a1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
  color: var(--color-dark-grey);
}

header {
  padding: 2rem 4rem 4rem;
  max-width: 1280px;
  box-sizing: border-box;
}

main, article {
  padding: 0 4rem 4rem;
  max-width: 1280px;
  box-sizing: border-box;
}

h1 {
  margin: 3rem 0 1rem;
  font-size: 1.8rem;
}

h2 {
  margin: 3rem 0 1rem;
  font-size: 1.5rem;
}

h3 {
  margin: 3rem 0 1rem;
  font-size: 1.2rem;
}

li {
  margin: .3rem 1rem;
}

em {
  font-style: italic;
}

blockquote {
  margin-left: 2rem;
  font-style: italic;
}

blockquote::before { content: '“'; }
blockquote::after  { content: '„'; }

a {
  text-decoration: underline;
  color: var(--color-light-grey);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

th { font-weight: 600; }
th, td {
  border: 1px solid #ddd;
  padding: .4rem .8rem;
}

pre {
  white-space: normal;
}

code {
  padding: 0 .25rem;
  background-color: #f1f5f8;
  white-space: pre;
  font-family: monospace;
  font-size: .875rem;
  display: inline;
}

pre > code {
  padding: 1rem;
  border-radius: .25rem;
  background-color: var(--color-dark-grey);
  color: #fff;
  overflow-y: auto;
  display: block;
}

time {
  margin-bottom: .25rem;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  color: var(--color-lighter-grey);
  display: block;
}

/* header styles */

header nav {
  display: flex;
}

header nav a:hover { color: var(--color-dark-grey); }
header nav a + a { margin-inline-start: 1.2rem;}
header nav a {
  text-decoration: none;
  color: var(--color-lighter-grey);
}

/* main styles */

main ol {
  list-style: none;
}

main li {
  margin: .3rem 0 1.5rem;
}

main a:hover { text-decoration: underline; }
main a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-light-grey);
  display: block;
}

main p {
  margin-top: .25rem;
  font-weight: 300;
  text-align: left;
}

main dt::before { content: '#'; }
main dt {
  text-transform: uppercase;
  display: inline-block;
}

main dt + dt {
  margin-left: .8rem;
}

main dt a {
  display: inline;
}

/* article styles */

article h1 + time {
  margin-top: -.4rem;
}

article > * + *:not(h1, h2, h3) {
  margin-top: 1.5rem;
}

article > h1 + *,
article > h2 + *,
article > h3 + *,
article > * + ul,
article > * + ol {
  margin-top: 0;
}

article select {
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-dark-grey);
  background: transparent;
  appearance: none;
  border: none;
}

article img {
  max-width: min(560px, 100%);
  margin: 1rem;
}

article img[src$="#<"] { float: left;  }
article img[src$="#>"] { float: right; }
